

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

#pageHeader {
    min-height: 30px;
    width: 100%;
    height: auto;
    background-color: #71B0D7;
    z-index: 2;
}

#headContent {
    position: relative;
    padding: 16px 10px;
    text-align: center;
    vertical-align: middle;
}

#pageContent {
    width: 100%;
    overflow: hidden;
}

#infoList {
    width: 100%;
    padding: 0;
    margin: 0;
}

#infoList li {
    width: 100%;
    display:inline-block;
    background-color: #ddd;
    overflow: hidden;
    height: 3em;
    line-height: 3em;
    margin: 0;
    padding: 0;
}

#infoList li:first-child {
    height: 5em;
    line-height: 5em;
}

#infoList li .listInner {
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    padding: 2px;
    overflow: hidden;
}


#tBookName {
    font-size: 2.4em;
    font-weight: 600;
}

.list_item {
    font-size: 1.5em;
}

.list_item_left {
    padding-left: 1.4em;
}

.list_item_right {
    margin-left: 0.5em;
}

#extraNav {
    margin: 0;
    padding: 0;
    background-color: #FFD324;
}

.extra_nav_item {
    display:inline-block;
    width: 6em;
    height: 2.4em;
    line-height: 2.4em;
    padding: 0;
    text-align: center;
    float: left;
}

.nav_text {
    font-size: 2em;
    font-weight: 600;
}

.extra_nav_active {
    background-color: #00f;
}

#scrollInfo {
    width: 90%;
    margin: 0 auto;
    height: 30em;
}

#wrapper {
    display: block;
    width: 100%;
    height: 25em;
    position:relative;
    z-index:1;
    overflow:hidden;
    background-color: #aaa;
    margin: 0;
    padding: 0;
}

#scroller {
    width:auto;
    height:100%;
    float:left;
    padding:0;
}

#scroller ul {
    width: auto;
    height:100%;
    padding:0;
    margin:0;
    text-align:left;
}

#scroller li {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    display:block;
    float:left;
    width:100%;
    height:100%;
    text-align:left;
    font-family:georgia;
    font-size:2em;
    line-height:140%;
    padding: 0.4em 0.2em 0 0.2em;
}



.positon_item {
    display: inline-block;
    width: 100%;
    padding-left: 1em;
    height: 1.3em;
    line-height: 1.3em;
}

#bookIntro {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1em;
    overflow: visible;
}


.sort_item {
    display: block;
    width: 100%;
    height: auto;
}









