/***
 * 
 * **/

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ddd;
    background: url(../img/debut.png) repeat;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
}

#indexPageHeader {
    width: 80%;
    font-size: 3em;
    font-weight: 700;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0 auto;
    text-align: center;
    padding-top: 2em;
}

#pageContent {
    min-height: 20px;
    width: 100%;
    font-size: 1em;
}

#queries {
    width: 86%;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ddd;
    margin-top: 36px;
    padding: 0.5em 0.5em;
    font-size: 2em;
    background: rgb(229,229,229); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(229,229,229,1) 0%, rgba(255,255,255,1) 50%, rgba(229,229,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 50%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 50%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 50%,rgba(229,229,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(229,229,229,1) 0%,rgba(255,255,255,1) 50%,rgba(229,229,229,1) 100%); /* W3C */
}

.box {
    display: inline-block;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 1.5em;
    line-height: 1.5em;
    float: left;
}

.box_left {
    width: 34%;
    background-color: #1E9960;
    text-align: center;
}

.box_right {
    margin-left: 2%;
    width: 62%;
}

.queryBox {
    overflow: hidden;
    width: 100%;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.query_text {
    display: inline-block;
    font-size: 1em;
}

#searchBox {
   overflow: hidden;
   font-size: 1em;
}

#queryNumber {
    border: none;
    width: 100%;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 100%;
    vertical-align: middle;
    margin: 0;
    *overflow: visible;
    line-height: normal;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
       -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
         -o-transition: border linear 0.2s, box-shadow linear 0.2s;
            transition: border linear 0.2s, box-shadow linear 0.2s;
    
}

#queryNumber:focus {
    height: 1.5em;
    line-height: 1.5em;
    font-size: 100%;
    vertical-align: middle;
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
}

#queryMatch {
    height: 1.5em;
    
    font-size: 100%;
    vertical-align: middle;
}

#queryBtn {
    width: 100%;
    text-align: center;
    position: relative;
    min-height: 2em;
    height: 2.4em;
}

#favorBox {
    display: inline-block;
    position: absolute;
    right: 54%;
    
}

#favorQuery {
    display: inline-block;
    font-size: 1.4em;
    padding: 0.2em 0.4em;
    border: 1px solid #ddf;
    border-radius: 6px;
    background-color: #1E9599;
    color: #ddd;
    text-align: center;
}

#sendBox {
    position: absolute;
    left: 50%;
}

#sendQuery {
    display: inline-block;
    font-size: 1.4em;
    padding: 0.2em 0.4em;
    border: 1px solid #ddf;
    border-radius: 6px;
    background-color: #1E5799;
    color: #ddd;
    text-align: center;
}

#pageFooter {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 10px;
    width: 100%;
    height: auto;
}

#settings {
    float: right;
    padding: 0 2em 2em 0;
    width: 50px;
    height: auto;
    text-align: center;
}

#settings a, #settings a:hover {
    text-decoration: none;
    color: #111;
}

#settings-icon {
    height: 1em;
    width: 1em;
    font-size: 3em;
}

#settings-text {
    font-size: 1.2em;
}




